html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #eeeeee;
    font-family: 'Roboto', sans-serif;
}

.header {
    text-align: center;
}

.header p {
    font-style: italic;
}

table {
    font-family: 'Roboto Mono', monospace;
    padding: 0 0 0 50px;
}

#fcfs-table td {
    width: 120px;
}

#fcfs-table td:first-child {
    width: 60px;
}

#fcfs-table td:nth-child(4) {
    width: 200px;
}

#process-table td:first-child {
    width: 80px;
}

#wait-time td:first-child {
    width: 100px;
}

#wait-time td {
    width: 120px;
}

span {
    font-family: 'Roboto Mono', monospace;
}

#content {
    background-color: #ffffff;
    min-width: 800px;
    width: 60%;
    margin: 0 auto;
    padding: 24px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
}

.code {
    font-family: 'Roboto Mono', monospace;
    border: 2px solid gray;
    padding: 8px;
    width: 80%;
    margin: 0 auto;
}