html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ccddee;
    font-family: 'Roboto', sans-serif;
}

a:link {
	color: #007eff;
}

a:visited {
	color: #0055ac;
}

a:hover {
	color:#78bbff;
}

.center {
    text-align: center;
}

.header p {
    font-style: italic;
}

.process-table td:first-child {
    width: 100px;
}

.wait-time td:first-child {
    width: 100px;
}

.wait-time td {
    width: 130px;
}

table {
    font-family: 'Roboto Mono', monospace;
    padding: 0 0 0 50px;
}

#fcfs-table td {
    width: 150px;
}

#fcfs-table td:first-child {
    width: 60px;
}

#fcfs-table td:nth-child(4) {
    width: 200px;
}



.monospace {
    font-family: 'Roboto Mono', monospace;
}

#content {
    min-width: 800px;
    width: 60%;
	margin: 0 auto;
}

#content img {
	max-height: 100%;
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.content-section, .header {
	background-color: #ffffff;
	box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
	margin: 16px 0 16px 0;
    padding: 24px;
}

.code {
    font-family: 'Roboto Mono', monospace;
	background-color: #f8fbff;
    border: 2px solid gray;
    padding: 8px;
    width: 80%;
    margin: 0 auto;
}